#header {
	margin-top: 20px;
}
#menu {
	margin-top: 20px;
}
#slide {
	width: 100%;
	background: url(img/bg.png) fixed;
	padding: 25px 0px;
}
#noticias li {
	list-style: none;
	margin-bottom: 10px;
}
#content {
	margin-top: 20px;
}
#footer {
	background: url(img/bg.png) fixed;
	text-align: right;
	padding: 20px 0px 0px 0px;
	color: #FFF;
	font-weight: bold;
}